<nav>
  <ul class="flex gap-4 justify-center items-center">
    <li><a class="hover:underline" href="/about">About</a></li>
    <li><a class="hover:underline" href="https://github.com/1nfinit0">Repo</a></li>
  </ul>
</nav>